!!! 5
html(lang='en')
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Restman - A Chrome-based Restful Client
  body
    script(src='lib/parse.js')
    script(src='scripts/parsePrivateKey.js')
